@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header {
  display: flex;
  justify-content: space-between;
}
.header__title {
  font-weight: 700;
  font-size: 1.75rem;
}
.header__title span {
  color: #9F0013;
}
.header .menu__list {
  display: flex;
  gap: 24px;
}
.header .menu__item {
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}
.header .menu__item a {
  text-decoration: none;
  color: inherit;
}
.header .menu__item_active {
  color: #9F0013;
}
.header .menu__item:not(:first-of-type)::before {
  content: "/";
  color: black;
  position: absolute;
  left: -16px;
}
.header .menu__item:hover {
  text-decoration: underline;
}

.button {
  border: none;
  padding: 11px 0;
  width: 101px;
  position: relative;
  overflow: hidden;
  font-size: 0.875rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  transition: transform 0.3s ease-in-out 0s;
}
.button:hover {
  transform: translate(0, -3px);
}
.button:active {
  transform: translate(0, 0);
}
.button::after {
  content: "";
  width: 105px;
  height: 83px;
  position: absolute;
  left: -2px;
  bottom: -22px;
  transform: rotate(-45deg);
  z-index: -1;
  background-color: #9F0013;
}
.button_primary::after {
  background-color: #9F0013;
}
.button_secondary::after {
  background-color: #5C5C5C;
}
.button_long {
  width: 170px;
}
.button_long::after {
  content: "";
  width: 250px;
  height: 131px;
  position: absolute;
  left: -33px;
  bottom: -39px;
  transform: rotate(-45deg);
  z-index: -1;
  background-color: #9F0013;
}

.random {
  margin-top: 54px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.random__section {
  padding: 40px 35px 35px 35px;
}
.random .character {
  display: flex;
  box-shadow: none;
  display: flex;
}
.random .character__img {
  min-width: 180px;
  margin-right: 30px;
}
.random .character__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.random .character__title {
  margin-bottom: 13px;
}
.random__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.random .description {
  position: relative;
  background-color: #232222;
}
.random .description__text {
  max-width: 265px;
}
.random__text {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  max-width: 373px;
}
.random__text:last-of-type {
  margin-top: 41px;
}
.random__choose-another .button {
  margin-top: 17px;
}
.random__decoration {
  position: absolute;
  right: -35px;
  bottom: 14px;
  z-index: 1;
}

.buttons {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.character-info {
  margin-left: 25px;
  padding: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
}
.character-info__top {
  display: flex;
  gap: 25px;
  margin-bottom: 15px;
}
.character-info__img {
  width: 150px;
}
.character-info__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.character-info__buttons .button:not(:last-child) {
  margin-bottom: 10px;
}
.character-info__description {
  margin-bottom: 10px;
}

.comics__title {
  font-weight: 700;
  font-size: 1.125rem;
}
.comics__item {
  padding: 4px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 0.875rem;
}

.banner {
  display: flex;
  justify-content: space-between;
  background-color: #232222;
  padding: 0 25px 0 45px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100px;
  position: relative;
}
.banner__title {
  position: absolute;
  left: 280px;
  margin-top: 18px;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #FFFFFF;
}

.comics__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 67px;
       column-gap: 67px;
  row-gap: 55px;
}
.comics__button {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.comics-card {
  max-width: 225px;
}
.comics-card__link {
  text-decoration: none;
  color: #000;
}
.comics-card__image img {
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.comics-card__title {
  font-size: 0.875rem;
  line-height: 1.1rem;
  margin-top: 10px;
  text-transform: uppercase;
}
.comics-card__title:hover {
  text-decoration: underline;
}
.comics-card__price {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.6);
}

.comics-item {
  display: flex;
}
.comics-item__img img {
  min-width: 293px;
}
.comics-item__content {
  width: 100%;
  margin-left: 50px;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.comics-item__top {
  display: flex;
  justify-content: space-between;
}
.comics-item__title {
  max-width: 550px;
  font-size: 1.375rem;
  font-weight: 700;
}
.comics-item__back {
  min-width: 80px;
  font-weight: 700;
  font-size: 1.2rem;
}
.comics-item__description {
  max-width: 550px;
  margin-top: 25px;
  margin-bottom: 40px;
}
.comics-item__info div:not(:last-child) {
  margin-bottom: 25px;
}
.comics-item__price {
  font-weight: 700;
  font-size: 1.5rem;
  color: #9F0013;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px;
}
.wrapper.decor::after {
  content: "";
  background-image: url("../img/decor.png");
  width: 467px;
  height: 372px;
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.character {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.character__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.375rem;
  line-height: 1.625rem;
}
.character__text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1rem;
}

.main__content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.characters {
  max-width: 650px;
}
.characters__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 30px;
}
.characters__character {
  width: 200px;
  height: 318px;
  background-color: #232222;
  color: #fff;
  cursor: pointer;
  transition: filter 0.2s ease-in-out 0s;
}
.characters__character:hover {
  filter: drop-shadow(0px 5px 20px #9F0013);
}
.characters__character .title {
  margin: 15px;
}
.characters .load-more {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 45px auto;
}