.banner {
    display: flex;
    justify-content: space-between;
    background-color: $bg-color-contrast;
    padding: 0 25px 0 45px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100px;
    position: relative;

    &__title {
        position: absolute;
        left: 280px;
        margin-top: 18px;
        font-size: 1.5rem;
        line-height: 1.75rem;
        color: #FFFFFF;
    }
}
