.comics {
    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 67px;
        row-gap: 55px;
    }

    &__button {
        display: flex;
        justify-content: center;
        margin-top: 45px;
    }
}
.comics-card {
    max-width: 225px;

    &__link {
        text-decoration: none;
        color: #000;
    }

    &__image img{
        width: 100%;
        box-shadow: $box-shadow;
    }

    &__title {
        font-size: 0.875rem;
        line-height: 1.1rem;
        margin-top: 10px;
        text-transform: uppercase;
        &:hover {
            text-decoration: underline;
        }
    }

    &__price {
        margin-top: 5px;
        color: #00000099;
    }
}

.comics-item {
    display: flex;

    &__img img{
        min-width: 293px;
    }

    &__content {
        width: 100%;
        margin-left: 50px;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        max-width: 550px;
        font-size: 1.375rem;
        font-weight: 700;
    }

    &__back a{
        text-decoration: none;
        color: #000;
        min-width: 80px;
        font-weight: 700;
        font-size: 1.2rem;
        &:hover {
            text-decoration: underline;
        }
    }

    &__description {
        max-width: 550px;
        margin-top: 25px;
        margin-bottom: 40px
    }

    &__info div{
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &__price {
        font-weight: 700;
        font-size: 1.5rem;
        color: $accent-color;
    }
}
