@import "./reset";
@import "./variables";
@import "./header";
@import "./button";
@import "./random";
@import "./characters-info";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    &::after {
        content: "";
        background-image: url("../img/decor.png");
        width: 467px;
        height: 372px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.character {
    box-shadow: $box-shadow;

    &__title {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.375rem;
        line-height: 1.625rem;
    }

    &__text {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.1rem;
    }
}
.main__content{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.characters {
    max-width: 650px;
    
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 30px;
    }

    &__character {
        width: 200px;
        height: 318px;
        background-color: $bg-color-contrast;
        color: #fff;
        cursor: pointer;
        transition: filter 0.2s ease-in-out 0s;
        &:hover {
            filter: drop-shadow(0px 5px 20px $accent-color);
        }
        .title {
            margin: 15px;
        }
    }

    .load-more {
        width: fit-content;
        margin: 45px auto;
    }
}